{
  "presets": [
    ["env", { "modules": false }],
    "react",
    "stage-1"
  ],
  "plugins": ["react-hot-loader/babel", "transform-decorators-legacy"],
  "env": {
    "test": {
      "presets": ["env", "react", "stage-1"],
      "plugins": ["transform-decorators-legacy"]
    }
  }
}